html {
		font-size: 16px;
		line-height: 1.7;
		font-family: $baseFont;
		margin: 0;
	}

	body {
		background: $dkBlue;
		margin: 0;
	}

	.wrapper {
		width: 80%;
		max-width: 1280px;
		margin: 0 auto;
		padding: 1%;
	}

	h1 {
		font-size: 2.75rem;
		font-family: $titleFont;
		letter-spacing: 1.5px;
	}

	h2 {
		font-size: 1.75rem;
		font-family: $headingFont;
		}

	h3 {
		font-size: 1.45rem;
		font-family: $headingFont;
	}

	h4 {
		font-size: 1.15rem;
		font-family: $headingFont;
	}

	p {
		font-size: 1rem;
		font-family: $baseFont;
		letter-spacing: .75px;
	}

	img {
		max-width: 100%;
	}

	a {
		text-decoration: none;
		// font-family: $accentFont;
		outline: none;
		// font-size: .8rem;
	}

	p.accent {
		font-family: $accentFont;
		font-size: 1.15rem;
		font-weight: bold;
	}

	figcaption p {
		font-size: .7rem;
		font-style: italic;
		a.source {
			font-size: .75rem;
		}
	}

// base styling for page headers. some details provided on individual page style sheets via the header mixin
	header {		
		display: flex;
		color: $dkBlue;
		flex-direction: column;
		position: relative;
		.title {
			background-color: $frosted;
			width: 50%;
			@include centerer;
			text-align: center;
		}	
	}	

.intro {
	background: $dkBlue;
	color: #ddd;
	.wrapper {
		p {
			@include link(#ddd, $sky, $dkBlue);
			
		}
	}
}

// .video iframe {
// 	margin: 0 auto;
// }


// base styling of image info buttons and popup windows. some details provided on individual page style sheets
	div.source {
		position: relative;
		padding: 10px;
		width: auto;
		max-width: 500px;
		margin: 20px auto;
		font-size: 12px;
		background: $dkBlue;
		color: #ddd;
		text-align: center;
		p {
			font-size: .85rem;
			@include link(#ddd, $sky, $dkBlue);
		}
		a {
			font-size: .85rem;
		}
	}

	div.imgSource {
		position: absolute;
		bottom: 0px;
		right: 0;
		background: $frosted;
		padding: 1%;
		width: 35px;
		height: 35px;
		a.open-popup-link {
			@include centerer;
			i.fa {
				color: $dkBlue;
				font-size: 1.25rem;
				padding: 2px;
			}
		}	
	}

