header.eat {
		@include header ($brown, '../images/gaslamp.jpg', 80);
		background-position: center;
	}


div.source.food {
	background: $brown;
	color: $ltText;
	@include link ($ltText, $sky, $brown);
	text-align: center;
	p {
		font-size: .85rem;
	}
	a {
		font-size: .85rem;
	}
}

section.eat {
	background: $brown;
	color: $ltText;
	@include link ($ltText, $sky, $brown);
}


ul.main {
	li.nav.eats {
		background: $brown;
		a.eats {
			color: $ltText;
			border-bottom: 5px solid $sky;
		}
		a.eats:hover {
			text-decoration: none;
		}
	}
}