// site-widefooter

	footer {
		background: $ltBrown;
	}

	ul.footer {
		display: flex;
		list-style: none;
		padding: 0;
		text-align: center;
		li {
			flex: 1 0 auto;
			@include link ($dkText, $sign, $ltBrown);
			a {
				font-size: 1.2rem;
				font-weight: bold;
			}
			
		}
	}


#weather p {
	font-size: 1.2rem;
	font-weight: bold;
	font-family: $accentFont;
	color: $dkText;
 	text-align: center;
 	margin: 0;
}



// More Resources page


header.resources {
		@include header ($purple, '../images/geisel.jpg', 75);
		background-position: center;
	}












// Contact page

section.contact {
	background: $purple;
	color: $ltBrown;
	@include link ($ltBrown, $ltBlue, $purple);

}


header.contact {
		@include header ($purple, '../images/sunset_pier.jpg', 75);
		background-position: center;
	}

div.source.sunset {
	background: $purple;
	color: $ltBrown;
	@include link ($ltBrown, $ltBlue, $purple);
	text-align: center;
	p {
		font-size: .85rem;
	}
	a {
		font-size: .85rem;
	}
}




h3.comments {
	text-align: center;
}




// form on the contact page

.contactForm {
	width: 75%;
	margin: 0 auto;
}

input, textarea {
	outline: 0;
	width: 100%;
	margin: 0 auto;
	transition: all .5s;
	margin-bottom: 1%;
	font-family: $baseFont;
	@include placeholder-color($color: $ltBrown)
}


input[type=text], input[type=email], textarea {
	background: $purple;
	padding: 1%;
	color:$ltText;
		border: 1px solid $sky;
}


input[type=text]:hover, input[type=email]:hover, textarea:hover {
	background: transparentize($sky, 0.5);
	}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	background: $sky;
	color: $dkText;
	}


input[type=submit] {
	font-size: 1.5rem;
	font-family: $titleFont;
	background: transparentize($sky, 0.5);
	letter-spacing: 1.5px;
	border: 1px solid transparentize($sky, 0.7);
}

input[type=submit]:hover {
	background: $sky;
	border: 1px solid $sky;
}



