header.home {
		@include header ($dkBlue, '../images/sunset_pier.jpg', 100);
		background-position: center;

	}


div.source.sunset {
	background: $ltBlue;
	color: $dkText;
	@include link ($dkText, $ltBrown, $ltBlue);
	text-align: center;
	p {
		font-size: .85rem;
	}
	a {
		font-size: .85rem;
	}
}	


.intro {
	color: $ltText;
	@include link ($ltText, $highlight, $dkBlue);

}

.video iframe {
	margin: 0 auto;
}


ul.main {
	li.nav.home {
		background: $dkBlue;
		a.home {
			color: $ltText;
			border-bottom: 5px solid $highlight;
		}
	}
}
