header.home {
		@include header ($dkBlue, '../images/San_Diego_Reflecting_Pond.jpg', 100);
		background-position: center;

	}


div.source.skyline {
	background: $dkBlue;
	color: $ltBrown;
	@include link ($ltBrown, $ltBlue, $dkBlue);
	text-align: center;
	p {
		font-size: .85rem;
	}
	a {
		font-size: .85rem;
	}
}	


.intro {
	background: $dkBlue;
	color: $ltBrown;
	@include link ($ltBrown, $ltBlue, $dkBlue);

}

.video iframe {
	margin: 0 auto;
}


ul.main {
	li.nav.home {
		background: $dkBlue;
		a.home {
			color: $ltBrown;
			border-bottom: 5px solid $ltBlue;
		}
		a.home:hover {
			text-decoration: none;
		}
	}
}
