@media (max-width: 1080px) {
		div.wrapper {
			width: 90%;
		}

		body {
			font-size: 14px;
		}

		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.25rem;
		}

	}

@media (max-width: 925px) {
	body {
		font-size: 12px;
	}

	ul.tabMenu li a h3  {
		font-size: 1rem;
	}

	h1 {
		font-size: 2rem;
	}

	nav.siteMenu {
		background: #ccc;
		li.nav {
		padding: 10% 7% 5%;				
			a {
				font-size: 1.25rem;
				letter-spacing: 1px;
				}
			a:hover {
				letter-spacing: 2px;				
				}
			}
		}
	}