@media (max-width: 1080px) {
		div.wrapper {
			width: 90%;
		}

		body {
			font-size: 14px;
		}

		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 1.5rem;
		}

		h3 {
			font-size: 1.25rem;
		}

	}

@media (max-width: 925px) {
	body {
		font-size: 12px;
	}

	h1 {
		font-size: 2rem;
	}

	nav.siteMenu {
		background: #ccc;
		li.nav {
		padding: 10% 7% 5%;				
			a {
				font-size: 1.25rem;
				letter-spacing: 1px;
				}
			a:hover {
				letter-spacing: 2px;				
				}
			}
		}
	
	img.inText {
		width: 50%;
	}



	}


@media (max-width: 780px) {

	div.title {
		width: 75%;
	}


	ul.footer {
		flex-direction: column;
		li {
			a {
				font-size: .9rem;
			}
		}
	}

	img.inText {
		width: 100%;
	}

	#tower, #zoo, #grant, #seaport {
		float: none;
	}
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: smaller versions of header images to reduce load times*/

	header.eat {
		background-image: url('../images/gaslamp-mob.jpg');
		}

	header.nearby {
		background-image: url('../images/pch-mob.jpg');	
		}

	header.sights {
		background-image: url('../images/Mission_San_Diego_de_Alcala-mob.jpg');
		}

	header.stay {
		background-image: url('../images/hoteldel-mob.jpg');
		}

	header.when {
		background-image: url('../images/WindanseaBeachShack-mob.jpg');
		}

	header.home {
		background-image: url('../images/San_Diego_Reflecting_Pond-mob.jpg');
		}

	header.resources {
		background-image: url('../images/geisel-mob.jpg');
		}

}