
header.nearby {
		@include header ($sign, '../images/pch.jpg', 80);
		background-position: center;
	}

div.source.near {
	background: $sign;
	color: #eee;
	@include link (#eee, $dkText, $sign);
	text-align: center;
	p {
		font-size: .85rem;
	}
	a {
		font-size: .85rem;
	}
}


section.nearby {
	color: #eee;
	background: $sign;
	@include link (#eee, $dkText, $sign);
}

aside.north {
	margin: 0 auto;
	width: 90%;
	border : 4px solid #ccc;
	border-radius: 15px;
	padding: 3%;
	background: darken($sign, 10%);
	p, ul {
		font-size: .9rem;
	}
}


ul.main {
	li.nav.nearby {
		background: $sign;
		a.nearby {
			color: #eee;
			border-bottom: 5px solid $dkText;
		}
	}
}