	//top nav w/slide out


	nav.siteMenu{
		background-color: $frosted;
		z-index: 9999;
		ul.main {
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;
			li.nav {
				flex: 1 0 auto;
				padding: 15% 5% 5%;
				a {
					color: $dkBlue;
					font-family: $headingFont;
					font-size: 1.4rem;
					letter-spacing: 1.5px;
					font-weight: 600;	
					display: block;	
					transition: all .5s;
				}
				a:hover {
					letter-spacing: 2.5px;
					border-bottom: 5px solid $dkBlue;
					font-weight: 600;
				}

			}
		}
	}


  	// to distinguish active page on menu

	ul.main {
		li.nav.active {
			background: $dkBlue;
			a.active {
				color: #ddd;
				border-bottom: 5px solid $sky;
			}
			a.active:hover {
				text-decoration: none;
			}
		}
	}


	// styling for the hamburger menu link

	nav.fixed {
		position: fixed;			
		a {
			// @include midNight($frosted, $dkBlue);	
			font-size: 1.75rem;		
			display: block;
			width: 50px;
			line-height: 1;
			padding: 10px;
			text-align: center;
		}
	}


	// special classes for use with midnight.js, for changing the hamburger menu link as the page is scrolled

	.midnightHeader {
		font-size: 1.75rem;		
		display: block;
		width: 50px;
		line-height: 1;
		padding: 10px;
		text-align: center;
	}

	.midnightHeader.default a {
		@include midNight($frosted, $dkBlue);
	}

	.midnightHeader.home a {
		@include midNight(#ddd, $dkBlue);
	}

	.midnightHeader.contact a {
		@include midNight($ltBrown, $purple);
	}



