header.when {
		@include header (lighten($sky, 20%), '../images/WindanseaBeachShack.jpg', 75);
		// background-position: center;
	}


div.source.windansea {
	background: $ltBlue;
	color: $dkText;
	@include link ($dkText, $ltBrown, $ltBlue);
	text-align: center;
	p {
		font-size: .85rem;
	}
	a {
		font-size: .85rem;
	}
}	

section.when {
	background: $sky;
	color: $dkText;
		@include link ($dkText, $ltBrown, $sky);
}

ul.main {
	li.when {
		background:$sky;
		a.when {
			color: $dkText;
			border-bottom: 5px solid $ltBrown;
		}
	}
}

