li.tabMenu a {
		border-bottom: none;
		margin: 0 auto;
		width: 100%;
	}

	li.tabMenu a:hover, li.tabMenu a:active { 
		background: $ltBrown;
	}

	li.tabMenu a h2 {
		margin: 0;
	}

	ul.tabFlex {
		display: flex;
	}
	
	li.tabMenu {
		flex: 1 0 auto;
		border-left: 4px solid $ltBrown;
		border-right: 4px solid $ltBrown;
		border-top: 4px solid $ltBrown;

	}

	div.tabMenuBar {
		border-bottom: 4px solid $ltBrown;
		text-align: center;
		margin: 0 auto;
	}