// normalize and border-box

@import "setup";
@import "juicy";


// font variables

$baseFont: 'Noto Sans', sans-serif;
$headingFont: 'Noto Serif', serif;
$titleFont: 'Pacifico', cursive;
$accentFont: 'Josefin Sans', sans-serif;

// color variables

$dkBlue: #223344;
$ltBlue:  #8899aa;
$frosted: transparentize(#cccccc, 0.3);
$dkText: #260F08;
$ltBrown: #eeddcc;
$sky:  #5599dd;
$sign: #119999;
$purple: #110022;



//mixins

@mixin buttonHover($fz, $bc) {
	background: $frosted;
	border: 1px solid $bc;
	font-size: $fz+px
}

// adds the thicker bottom border to all hovered links

@mixin link ($txtc, $hlc, $bgc) {
	a {
		color: $txtc;
		border-bottom: 5px solid $hlc;	
		font-weight: bold;
		transition: all .5s;
	}
	a:hover {
		background: linear-gradient(
				      $bgc,
				      $bgc 75%,
				      $hlc 75%,
				      $hlc 100%
		);
	}
}


// styling for all page headers

@mixin header ($img, $vh) {
		background: $dkBlue url($img);
		background-size: cover;
		height: $vh+vh;
}



// to change the colors of the hamburger menu link using the midnight plugin

@mixin midNight($bg, $tc) {
		background: $bg;
		color: $tc;		
}



// default site-wide styles

@import "baseStyle";


// top nav and footer for all pages

@import "siteNav";


// individual element styles

@import "headers";
@import "images";
@import "footer";
@import "media";




