// normalize and border-box

@import "setup";
@import "juicy";


// font variables

$baseFont: 'Noto Sans', sans-serif;
$headingFont: 'Noto Serif', serif;
$titleFont: 'Pacifico', cursive;
$accentFont: 'Josefin Sans', sans-serif;

// color variables

$dkBlue: #223344;
$ltBlue:  #8899aa;
$frosted: transparentize(#cccccc, 0.3);
$dkText: #260F08;
$ltBrown: #eeddcc;
$sky:  #5599dd;
$sign: #119999;
$purple: #110022;



//mixins

@mixin buttonHover($fz, $bc) {
	background: $frosted;
	border: 1px solid $bc;
	font-size: $fz+px
}


// styling for all page headers

@mixin header ($img, $vh) {
		background: $dkBlue url($img);
		background-size: cover;
		height: $vh+vh;
}


// default styling for tips sections, if i use them

@mixin tips($bc, $bgc) {
	width: 70%;
	border: 5px solid $bc;
	background: darken($bgc, 5%);
	margin: 0 auto;
	padding: 0 1%;
	border-radius: 15px;
}

// to change the colors of the hamburger menu link using the midnight plugin

@mixin midNight($bg, $tc) {
		background: $bg;
		color: $tc;		
}



// default site-wide styles

@import "baseStyle";


// top nav and footer for all pages

@import "siteNav";


// individual element styles

@import "headers";
@import "images";
@import "footer";





